/* Rough pass at CSS */

.cagov-event-detail {
    margin-top: 32px;
}

.cagov-event-detail h4 {
    margin-bottom: 8px;
}

.cagov-event-detail.cagov-stack {
    margin-top: 0;
}

.cagov-event-detail .field-data {
    font-size: 18px;
    line-height: 28.8px;
}

.cagov-event-detail .start-time {
    text-transform: uppercase;
}

.cagov-event-detail .end-time {
    text-transform: uppercase;
}

.cagov-event-detail .detail-section {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #EDEDEF;
}

.cagov-event-detail .detail-section:last-child {
    padding-bottom: 16px;
    border-bottom: 1px solid #EDEDEF;
}

.cagov-event-detail .wp-block-button .wp-block-button__link {
    background-color: #064E66;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px
}