/* @TODO These px values need to be converted to relative values */
/* @TODO Align with typography & styles: Font, px spacing, colors */
/* @TODO Figure out editor theme styles & if it conflicts with the display of this block/web-component. */

.cagov-announcement-list h3 {
    /* font-family: Public Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 24px;
}

.cagov-announcement-list .read-more a {
    /* font-family: Public Sans; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration: underline;
    color: #000;
}

cagov-announcement-list {
    color: #004ABC;
}

cagov-announcement-list ul {
    margin: 0;
    padding: 0;
}

cagov-announcement-list ul li {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 24px;
}

cagov-announcement-list ul li a {
    /* font-family: Public Sans; */
    font-size: 18px;
    line-height: 30px;
    text-decoration: underline;
    color: #004ABC;
}

cagov-announcement-list ul li .date {
    /* font-family: Public Sans; */
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
    color: #000;
}


body .editor-styles-wrapper a {
    /* color: inherit; */
}
