/* @TODO These px values need to be converted to relative values */
/* @TODO Align with typography & styles: Font, px spacing, colors */
/* @TODO Figure out editor theme styles & if it conflicts with the display of this block/web-component. */

.cagov-post-list h3 {
    /* font-family: Public Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 24px;
}

.cagov-post-list .read-more a {
    /* font-family: Public Sans; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration: underline;
    color: #000;
}

cagov-post-list a {
    color: #064E66;
    font-weight: 700;
    line-height: 32.9px;
    font-size: 28px;
    margin-bottom: 8px;
}

cagov-post-list .excerpt {
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 8px;
}

cagov-post-list ul,
cagov-post-list ul:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]) {
    margin: 0;
    padding: 0;
}

cagov-post-list ul li {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 24px;
}

cagov-post-list ul li a {
    /* font-family: Public Sans; */
    font-size: 18px;
    line-height: 30px;
    text-decoration: underline;
    color: #064E66;
    ;
}

cagov-post-list ul li .date {
    /* font-family: Public Sans; */
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
    color: #000;
}


body .editor-styles-wrapper a {
    /* color: inherit; */
}
