<!-- <caweb-header/> -->
{# {
    id: 123,
    title: {
        rendered: "Title",
    },
    content: {
        rendered: "body tag content as compiled by php"
    },
    excerpt: {
        rendered: "",
    },
    featured_media: "",
    categories: "", // Requires a conversion in webcomponent if it's an id or of there is only a string, in which case the type of rendering should not be wordpress, but should be something like "design-system" 
    link: "...permalink - this has the actual route, but all content has unique slug",
    menu_order: 2,
    parent: 1251,
    date_published: format: M d, Y
    design_system_fields: {

    },
    post_schema: "",


    // @TODO integrate <?php echo cagov_event_schema($post) ?> 
} #}
<div id="page-container" class="page-container-ds">
    <div id="main-content" class="main-content-ds single-column" tabindex="-1">
        <cagov-breadcrumb parent=`${parent}` data-menu-order="${menu_order}" data-id="post-${id}" />
            <div class="narrow-page-title">
            ${title.rendered}
            </div>
        </div>
        <div class="ds-content-layout">
            <main class="main-primary">
                <div>
                    <article id="post-${id}">
                        <category-label>${category_name}</category-label>
                        <h1 class="page-title">${title.rendered}</h1>
                        <p class="page-date published">
                            <time datetime="${date_published}">${date_published}</time>
                        </p>
                        <div class="entry-content">
                        ${content.rendered}
                        </div>
                    </article>
                    ${post_schema}
                    <span class="return-top hidden-print"></span>
                <div>
            </main>
        </div>
    </div>
</div>
<!-- <caweb-content-menu /> -->
<!-- <caweb-footer/> -->