.page-container-ds {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1.page-title {
    line-height: 1.5;
    font-size: 40px;
    margin: 0px;
    padding: 0 0 24px 0;
}

h2 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 32px;
}

h3 {

    margin-top: 72px;
}


p {
    font-size: 18px;
    line-height: 30px;
}
.main-content-ds { 
    margin-top: 72px;
    max-width: 877px;
}


.with-sidebar {
    overflow: hidden;
}

.with-sidebar>* {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar>*>* {
    margin: calc(var(--s1) / 2);
    flex-basis: 267px;
    flex-grow: 1;
}

.with-sidebar>*> :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - var(--s1));
}

.breadcrumb {
    display: block;
    margin-top: 32px;
    max-width: 400px; /* temp */
    margin-bottom: 72px;
    background-color: #F9F9FA;
}

sidebar {
    display: block;
    width: 276px;
    margin-right: 20px;

}

sidebar cagov-content-navigation .label {
    font-weight: 700 ;
    font-size: 24px ;
    margin-bottom: 32px ;
    line-height: 28.2px ;
    padding: 0;
}
sidebar cagov-content-navigation ul,
sidebar cagov-content-navigation ol:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]), 
sidebar cagov-content-navigation ul:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"])
 {
    margin: 0;
    text-indent: 0;
    padding: 0;
}

sidebar cagov-content-navigation ul li {
    margin-bottom: 32px;
}

main {

}

.page-container-ds ol:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]), 
.page-container-ds ul:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]) {
    padding: 0 0 0 0px;
    margin-top: 32px;
    margin-bottom: 32px;
    list-style-position: inside !important;
}

