/* 
* Editor styles
* Based on: https://github.com/cagov/cannabis.ca.gov/tree/main/src/css
 * colorscheme-cannabis.v1.0.7.min.css (or latest increment) - sets css variables and main page typography.
 * manual-caweb.v1.0.1.css
*/
@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap);

:root {
  --primary-color: #064e66;
  --primary-hover-color: #043747;
  --standout-color: #2f4c2c;
  --standout-hover-color: #21351f;
  --secondary-color: #cf5d28;
  --highlight-color: #fdb81e;
}

.edit-post-visual-editor {
  margin-bottom: .7rem;
  font-family: "Public Sans", sans-serif;
  color: #000;
  font-size: 18px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

.editor-styles-wrapper .message-body {
  padding: 0 32px;
}

.editor-styles-wrapper .cagov-page-alert {
  min-height: 64px;
  height: auto;
}

.editor-post-title.editor-post-title__block.wp-block,
.block-editor-block-list__layout.is-root-container > .wp-block {
    max-width: 1176px;
}


/* Basic block typography overrides */
.blocks-rich-text__tinymce.mce-content-body,
.edit-post-visual-editor,
.edit-post-visual-editor p,
.editor-styles-wrapper .edit-post-visual-editor p,
.block-editor-block-list__layout .is-root-container p{
  margin-bottom: .7rem;
  font-family: "Public Sans", sans-serif;
  color: #000 !important;
  font-size: 18px !important; /* Setting with problematic important tag until we can scope this file to load AFTER the wp font reset & gutenberg editor classes, which seem to be pushed to the very end of all wordpress css */
  font-size: 1rem !important;
  font-weight: normal;
  line-height: 1.5;
}

.edit-post-visual-editor li {
  margin-bottom: .7rem;
  font-family: "Public Sans", sans-serif;
  color: #000;
  font-size: 18px;
  font-size: 1rem;
}

/* TABLE */
.edit-post-visual-editor .wp-block-table {
  background: none !important;
  border:none !important;
  margin-bottom: .7rem;
  font-family: "Public Sans", sans-serif;
  color: #000;
  font-size: 18px;
  font-size: 1rem;
}

.edit-post-visual-editor .wp-block-table table, 
.edit-post-visual-editor .wp-block-table table th, 
.edit-post-visual-editor .wp-block-table table td {
  border:1px solid #ededef !important;
  margin-bottom: .7rem;
  font-family: "Public Sans", sans-serif;
  color: #000;
  font-size: 18px;
  font-size: 1rem;
}

.edit-post-visual-editor .wp-block-table table th, 
.edit-post-visual-editor .wp-block-table table td {
  /* @TODO Sync with styles - where are they? */
  padding: 8px 16px;
}

/* HEADINGS */ 

div.editor-post-title__block .editor-post-title__input {
  margin-bottom: .7rem;
  font-family: "Public Sans", sans-serif;
  color: #000;
  font-size: 18px;
  font-size: 1rem;
}

.edit-post-visual-editor .h1 span[class^=ca-gov-icon-]:first-child,
.edit-post-visual-editor h1 span[class^=ca-gov-icon-]:first-child {
  display: none;
}

div.editor-post-title__block textarea.editor-post-title__input,
.edit-post-visual-editor h1,
.editor-styles-wrapper .edit-post-visual-editor h1 {
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700px;
  margin-top: 3rem;
  margin-bottom: 1.6rem;
  color: #000;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.edit-post-visual-editor h2,
.editor-styles-wrapper .edit-post-visual-editor h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-top: 2.75rem;
  margin-bottom: 1.4rem;
  color: #000 !important;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.edit-post-visual-editor h3,
.editor-styles-wrapper .edit-post-visual-editor h3 {
  font-size: 28px;
  font-size: 1.75rem;
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  color: #000 !important;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.edit-post-visual-editor h4,
.editor-styles-wrapper .edit-post-visual-editor h4
 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #000 !important;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.edit-post-visual-editor h5,
.editor-styles-wrapper .edit-post-visual-editor h5 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 1.7rem;
  margin-bottom: .8rem;
  color: #000 !important;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.edit-post-visual-editor h6,
.editor-styles-wrapper .edit-post-visual-editor h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 1.4rem;
  margin-bottom: .6rem;
  color: #000 !important;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

/* CUSTOM BLOCKS */ 
/* NOTE: Most of these block specific styles will belong in editor.css unless they CSS is about relationships between blocks */
/* override card grid so they stack at theme breakpoint that slims main content */
@media (max-width: 991px) {
  .edit-post-visual-editor.cagov-grid,
  .edit-post-visual-editor.cagov-grid .block-editor-block-list__layout {
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  }
}

.edit-post-visual-editor .cagov-stack h1,
.edit-post-visual-editor .cagov-stack h2,
.edit-post-visual-editor .cagov-stack h3,
.edit-post-visual-editor .cagov-stack h4,
.edit-post-visual-editor .cagov-card h1,
.edit-post-visual-editor .cagov-card h2,
.edit-post-visual-editor .cagov-card h3,
.edit-post-visual-editor .cagov-card h4 {
  margin: 0;
}

.edit-post-visual-editor .non_divi_builder.title_not_displayed .main-primary {
  padding-top: 32px;
}


/* OVERRIDE DEFAULT GB STYLES */

.wp-block-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.block-editor-rich-text__editable.wp-block-button__link.rich-text {
  padding: 24px 0px;
}
.wp-block-button__link{
  background: #064E66;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

/* NOT YET INTEGRATED INTO BLOCKS */

/**
* Step list
* Step list should move to a custom block so that we can control and edit the css over time without refactoring page markup. 
* We should include the editor styles with the block (when we create one)
*/
.edit-post-visual-editor ol.steps {
  padding-left: 0 !important;
  /* Block editor layout is different from main page */
  margin-left: calc(auto + 30px) !important;
}

.edit-post-visual-editor ol.steps li {
  list-style: none;
  border-left: 5px solid #fec02f;
  font-size: 1.75rem;
  font-weight: 700;
  position: relative;
  padding-left: 45px;
  line-height: 1.5;
}

.edit-post-visual-editor ol.steps li:before {
  content: "";
  font-family: "Public Sans";
  font-size: 1.75rem;
  font-weight: 700;
  padding: 0 13px 0 13px;
  border: 5px solid #fec02f;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  position: absolute;
  left: -29px;
  top: -5px;
  margin-left: -1px;
}

.edit-post-visual-editor ol.steps li span.has-black-color {
  margin-top: 1rem;
  padding-bottom: 1.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  display: block;
}

.edit-post-visual-editor ol.steps li:first-child:before {
  content: "1";
  padding: 0 16px 0 16px;
}

.edit-post-visual-editor ol.steps li:nth-child(2):before {
  content: "2";
}

.edit-post-visual-editor ol.steps li:nth-child(3):before {
  content: "3";
}

.edit-post-visual-editor ol.steps li:nth-child(4):before {
  content: "4";
}

.edit-post-visual-editor ol.steps li:nth-child(5):before {
  content: "5";
}

.edit-post-visual-editor ol.steps li:nth-child(6):before {
  content: "6";
}

.edit-post-visual-editor ol.steps li:nth-child(7):before {
  content: "7";
}

.edit-post-visual-editor ol.steps li:nth-child(8):before {
  content: "8";
}

.edit-post-visual-editor ol.steps li:nth-child(9):before {
  content: "9";
}

.edit-post-visual-editor ol.steps li:nth-child(10):before {
  content: "10";
  padding: 0 7px 0 7px;
  margin-left: -1px;
}

.edit-post-visual-editor ol.steps li:nth-child(11):before {
  content: "11";
  padding: 0 10px 0 10px;
}

.edit-post-visual-editor ol.steps li:nth-child(12):before {
  content: "12";
  padding: 0 8px 0 8px;
  margin-left: -1px;
}

.edit-post-visual-editor ol.steps li:nth-child(13):before {
  content: "13";
  padding: 0 7px 0 7px;
}

.edit-post-visual-editor ol.steps li:nth-child(14):before {
  content: "14";
  padding: 0 7px 0 7px;
}

.edit-post-visual-editor ol.steps li:nth-child(15):before {
  content: "15";
  padding: 0 7px 0 8px;
  margin-left: 3px;
}

.edit-post-visual-editor ol.steps li:nth-child(16):before {
  content: "16";
  padding: 0 7px 0 7px;
}

.edit-post-visual-editor ol.steps li:nth-child(17):before {
  content: "17";
  padding: 0 7px 0 7px;
}

.edit-post-visual-editor ol.steps li:nth-child(18):before {
  content: "18";
  padding: 0 7px 0 7px;
}

.edit-post-visual-editor ol.steps li:nth-child(19):before {
  content: "19";
  padding: 0 7px 0 7px;
}

.edit-post-visual-editor ol.steps li:nth-child(20):before {
  content: "20";
  padding: 0 5px 0 5px;
}

.edit-post-visual-editor ol.steps li:nth-child(21):before {
  content: "21";
  padding: 0 6px 0 6px;
}

.edit-post-visual-editor ol.steps li:nth-child(22):before {
  content: "22";
  padding: 0 5px 0 5px;
}

.edit-post-visual-editor ol.steps li:nth-child(23):before {
  content: "23";
  padding: 0 5px 0 5px;
}

.edit-post-visual-editor ol.steps li:nth-child(24):before {
  content: "24";
  padding: 0 5px 0 5px;
}

.edit-post-visual-editor ol.steps li:last-child {
  border-left: none;
}


