/**
 CA Design System Page CSS
*/

.page-container-ds {
  max-width: 1176px;
}

.main-content-ds {
  max-width: 100%;
}

.single-column.landing {
  max-width: 1176px;
}

/* Single column layout */
.single-column.main-content-ds .ds-content-layout {
  max-width: 876px;
  margin: 0 auto;
}

.single-column.landing .ds-content-layout {
  max-width: 1176px;
  margin: 0 auto;
}

.single-column.single-column-wide .ds-content-layout {
  max-width: 1176px;
  margin: 0 auto;
}

/* SIDEBAR */
/* (see README.md) */

.sidebar-container {
  display: block;
  width: 276px;
  max-width: 276px;
}

.with-sidebar .main-content-default,
.with-sidebar .ds-content-layout {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar.has-sidebar-left .main-content-default > *,
.with-sidebar.has-sidebar-left
  .main-content-ds
  .ds-content-layout
  > .everylayout {
  margin: calc(var(--s1) / 2);
  flex-basis: 267px;
  flex-grow: 1;
}

.with-sidebar.has-sidebar-left .main-content-default > :last-child,
.with-sidebar.has-sidebar-left
  .main-content-ds
  .ds-content-layout
  > .everylayout:last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

.with-sidebar.has-sidebar-right .main-content-default,
.with-sidebar.has-sidebar-right
  .main-content-ds
  .ds-content-layout
  > .everylayout {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

.with-sidebar.has-sidebar-right .main-content-default > * > :last-child,
.with-sidebar.has-sidebar-right
  .main-content-ds
  .ds-content-layout
  > :last-child {
  margin: calc(var(--s1) / 2);
  flex-basis: 267px;
  flex-grow: 1;
}

.with-sidebar.page-container-ds.has-sidebar-left main {
  margin-left: 64px;
  margin-right: 20px;
}

.with-sidebar.page-container-ds.has-sidebar-right main {
  margin-right: 64px;
  margin-left: 20px;
}

/* For custom css -- conflicts are back, these overrides set them right, but need to be re-integrated with main markup. */

/* Fixing all block spacing */

.page-container-ds {
  margin: 0 auto;
}

.single-column {
  margin: 0 auto;
}

/* First Block has a top margin */
#main-content {
  margin-top: 0px; /* Navigation has extra 32px */
  margin-bottom: 64px;
}

#main-content.landing {
  margin-top: 32px;
  margin-bottom: 32px;
}

.cagov-block {
  margin-bottom: 64px;
}

/* Reset wp block columns spacing */
.wp-block-columns {
  margin-top: 0px;
  margin-bottom: 0px !important; /* Conflict with WP styles & load order */
}

.wp-block-column {
  margin-top: 0px;
  margin-bottom: 0px;
}

#main-content.landing .wp-block-columns .cagov-block {
  margin-bottom: 32px;
}

@media (min-width: 1176px) {
  #main-content.main-content-ds.landing .breadcrumb {
    margin-top: 0px;
    margin-bottom: 64px !important; /* conflict with divi breadcrumb class*/
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  #main-content.main-content-ds.single-column .breadcrumb,
  .with-sidebar.has-sidebar-left.page-container-ds
    #main-content.main-content-ds
    .breadcrumb {
    margin-top: 32px;
    margin-bottom: 64px !important; /* conflict with divi breadcrumb class*/
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.cagov-block h2,
.cagov-block h3,
.cagov-block h4,
.cagov-block h6,
.cagov-block h6 {
  margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 0 !important;
}

.wp-block-column h2 {
  margin-top: 0;
}

/* BREADCRUMB */

.with-sidebar .main-container-ds {
  max-width: 876px;
}

.breadcrumb {
  display: block;
  background-color: #f9f9fa;
  padding: 8px 16px;
  font-size: 16px;
}

.breadcrumb a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  text-underline-position: under;
}

.breadcrumb span {
  padding-left: 5px;
  padding-right: 5px;
}

/* Category label */
.page-container-ds
  main
  category-label
  ul:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]),
.page-container-ds main category-label ul {
  margin: 0;
  text-indent: 0;
  padding: 0;
}

category-label {
  color: #000;
  margin-bottom: 24px;
  font-weight: 700;
}

category-label a {
  color: #000;
  font-weight: 700;
}

time {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #000;
  font-weight: 700;
}

category-label a {
  color: #000;
  font-weight: 700;
}

/* CONTENT FOOTER */

.content-footer-container {
  border-bottom: 1px solid #ededef;
  border-top: 1px solid #ededef;
  padding-top: 23px;
  padding-bottom: 23px;
}

.per-page-feedback-container {
  max-width: 1176px !important;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.content-footer {
  max-width: 1176px !important;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-footer .menu-section.menu-section-social {
  margin-left: auto;
  align-items: flex-end;
}

.menu-section {
  margin-right: 24px;
}

.menu-section:last-child {
  margin-right: 0px;
}

.menu-section ul,
.menu-section ol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-section ul li {
  margin-right: 24px;
}

.menu-section .content-menu-links a {
  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;
  color: #064e66;
  text-underline-offset: 2px;
}

.content-menu-links,
.social-links-container {
  margin-bottom: 0;
  margin-top: 5px;
}

.content-footer .logo-small {
  width: 45px;
  height: 45px;
}

/* PAGE BEHAVIORS */

/* Hide Mobile title, lives outside flex aligned elements and before content navigation, desktop page title is inside main. */
.narrow-page-title {
  display: none;
}

.landing .page-title {
  display: none;
}

/* Gutenberg Block alignment */

/* TYPOGRAPHY */
h1.page-title {
  margin: 0 0 0 0;
  padding: 0 0 24px 0;
}

/* Override cagov 50px left spacing */
.page-container-ds
  main
  ol:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]) {
  padding: 0 0 0 20px;
}

/* Update position list element */
main ul li {
  list-style-position: outside;
}

/* link underline not used in cannabis designs */
.main-content a.cagov-card {
  text-decoration: none;
}

/* Fix issue with default theme that has a style we are not using */
.non_divi_builder.title_not_displayed .main-primary {
  padding-top: 32px;
}

@media only screen and (max-width: 1215px) {
  .page-container-ds {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1175px) {
  /* .page-container-ds {
        margin: 0 auto;
    } */

  .single-column {
    margin: 0 auto;
  }

  .with-sidebar .main-content-default,
  .with-sidebar .ds-content-layout {
    display: block;
  }

  article {
    display: block;
  }

  /* First Block has a top margin */

  .cagov-block {
    margin-bottom: 48px;
  }

  .wp-block-column .cagov-block {
    margin-bottom: 48px;
  }

  /* BREADCRUMB */
  .breadcrumb a.crumb,
  .breadcrumb span.crumb {
    display: none;
  }

  .breadcrumb span.crumb:not(:last-child):not([class*="separator"]) {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.8px;
    color: #064e66;
  }

  .breadcrumb span.crumb:not(:last-child):not([class*="separator"]) {
    padding: 0;
  }

  .breadcrumb {
    display: block;
    margin-top: 48px;
    margin-bottom: 16px;
    background-color: transparent;
    padding: 0;
  }

  .with-sidebar.page-container-ds .breadcrumb {
    margin-bottom: 0px;
  }

  #main-content {
    margin-top: 16px;
  }

  .with-sidebar.page-container-ds #main-content.main-content-ds,
  .with-sidebar.page-container-ds #main-content.main-content-ds main {
    margin-top: 0;
    margin-left: 0;
  }

  .with-sidebar.page-container-ds.has-sidebar-left main {
    margin-left: 0;
    margin-right: 0px;
  }

  .with-sidebar.page-container-ds.has-sidebar-right main {
    margin-right: 0px;
    margin-left: 0px;
  }

  .with-sidebar.page-container-ds main {
    margin-left: inherit;
    margin-top: 32px;
  }

  /* Responsive page title */
  article .wide-page-title,
  article h1.page-title {
    display: none;
  }

  .narrow-page-title {
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .landing .narrow-page-title {
    display: none;
  }

  /* Content Navigation */
  cagov-content-navigation .label {
    display: none;
  }

  .sidebar-container {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  sidebar cagov-content-navigation ul li:last-child {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ededef;
  }

  cagov-content-navigation ul li a {
    font-size: 16px;
    line-height: 24px;
  }

  /* Typography */

  h2:first-child {
    margin-top: 16px;
  }

  /* Content Menu */

  .per-page-feedback-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-footer-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  .content-footer .logo-small {
    margin-bottom: 16px;
  }

  .content-footer .menu-section.menu-section-social {
    margin-left: 0;
    align-items: flex-start;
  }

  .menu-section ul.content-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 !important;
  }

  .content-menu-links,
  .social-links-container {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .menu-section ul.social-links-container {
    padding: 0 !important;
  }

  .menu-section ul.content-menu-links li {
    margin-bottom: 16px;
  }

  .menu-section ul.content-menu-links li {
    margin-bottom: 16px;
    margin-right: 0px;
  }
}

/* override card grid so they stack at theme breakpoint that slims main content */
/* @media (max-width: 1175px) {
  .cagov-card-grid.cagov-grid,
  .cagov-card-grid.cagov-grid .block-editor-block-list__layout {
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  }
} */

/* New from manual CSS */

/* override card grid so they stack at theme breakpoint that slims main content */
/* @media (max-width: 1175px) {
  .cagov-card-grid.cagov-grid,
  .cagov-card-grid.cagov-grid .block-editor-block-list__layout {
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  }
} */

/* link underline not used in cannabis designs */
.main-content a.cagov-card {
  text-decoration: none;
}

.non_divi_builder.title_not_displayed .main-primary {
  padding-top: 32px;
}

/* step list */
ol.steps {
  padding-left: 0 !important;
  margin-left: 30px !important;
}

ol.steps li {
  list-style: none;
  border-left: 5px solid #fec02f;
  font-size: 1.75rem;
  font-weight: 700;
  position: relative;
  padding-left: 45px;
  line-height: 1.5;
}

ol.steps li:before {
  content: "";
  font-family: "Public Sans";
  font-size: 1.75rem;
  font-weight: 700;
  padding: 0 13px 0 13px;
  border: 5px solid #fec02f;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  position: absolute;
  left: -29px;
  top: -5px;
  margin-left: -1px;
}

ol.steps li span.has-black-color {
  margin-top: 1rem;
  padding-bottom: 1.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  display: block;
}

ol.steps li:first-child:before {
  content: "1";
  padding: 0 16px 0 16px;
}

ol.steps li:nth-child(2):before {
  content: "2";
}

ol.steps li:nth-child(3):before {
  content: "3";
}

ol.steps li:nth-child(4):before {
  content: "4";
}

ol.steps li:nth-child(5):before {
  content: "5";
}

ol.steps li:nth-child(6):before {
  content: "6";
}

ol.steps li:nth-child(7):before {
  content: "7";
}

ol.steps li:nth-child(8):before {
  content: "8";
}

ol.steps li:nth-child(9):before {
  content: "9";
}

ol.steps li:nth-child(10):before {
  content: "10";
  padding: 0 7px 0 7px;
  margin-left: -1px;
}

ol.steps li:nth-child(11):before {
  content: "11";
  padding: 0 10px 0 10px;
}

ol.steps li:nth-child(12):before {
  content: "12";
  padding: 0 8px 0 8px;
  margin-left: -1px;
}

ol.steps li:nth-child(13):before {
  content: "13";
  padding: 0 7px 0 7px;
}

ol.steps li:nth-child(14):before {
  content: "14";
  padding: 0 7px 0 7px;
}

ol.steps li:nth-child(15):before {
  content: "15";
  padding: 0 7px 0 8px;
  margin-left: 3px;
}

ol.steps li:nth-child(16):before {
  content: "16";
  padding: 0 7px 0 7px;
}

ol.steps li:nth-child(17):before {
  content: "17";
  padding: 0 7px 0 7px;
}

ol.steps li:nth-child(18):before {
  content: "18";
  padding: 0 7px 0 7px;
}

ol.steps li:nth-child(19):before {
  content: "19";
  padding: 0 7px 0 7px;
}

ol.steps li:nth-child(20):before {
  content: "20";
  padding: 0 5px 0 5px;
}

ol.steps li:nth-child(21):before {
  content: "21";
  padding: 0 6px 0 6px;
}

ol.steps li:nth-child(22):before {
  content: "22";
  padding: 0 5px 0 5px;
}

ol.steps li:nth-child(23):before {
  content: "23";
  padding: 0 5px 0 5px;
}

ol.steps li:nth-child(24):before {
  content: "24";
  padding: 0 5px 0 5px;
}

ol.steps li:last-child {
  border-left: none;
}

/* border styles */
.wp-block-table {
  background: none !important;
  border: none !important;
}

.wp-block-table table,
.wp-block-table table th,
.wp-block-table table td {
  border: 1px solid #ededef !important;
}

.return-top:after {
  padding-right: 4px;
}

/* Link underlining */
.top-level-nav .nav-item:hover .first-level-link,
.top-level-nav .nav-item:hover .first-level-btn {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

li.current_page_item {
  font-weight: 700;
}

a.second-level-link:hover,
a.second-level-link:focus {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.color-primary--hover:hover,
.text-accent-p2,
article a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}



cagov-feedback .feedback-form {
    background: var(--primary-color);
}