.page-container-ds .cagov-stack * + * {
    margin-top: inherit
}

.page-container-ds {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 144px;
}

.single-column {
    max-width: 877px;
    margin: 0 auto;
}

/* PAGE CONTAINER */
.main-content-ds {
    margin-top: 72px;
    max-width: 877px;
    /* overflow: auto; */
}

#main-content {
    /* overflow: auto; */
}

/* SIDEBAR */
.sticky-top {
    /* position: relative;
    position: -webkit-sticky;
    position: sticky; */
    /* position: fixed; */
    /* top: 0px; */
    /* position: fixed;
    padding: 2em;
    left: 0%;
    top: 0%;
    transform: translate(-0%, -0%); */
    
}
.sidebar-container {
    display: block;
    width: 276px;
    margin-right: 20px;
    /* height: 100vh; */
}

.with-sidebar {
    overflow: hidden;
    /* overflow: auto; */
}

.with-sidebar>* {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar>*>* {
    margin: calc(var(--s1) / 2);
    flex-basis: 267px;
    flex-grow: 1;
}

.with-sidebar>*> :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - var(--s1));
}

/* BREADCRUMB */
.breadcrumb {
    display: block;
    margin-top: 32px;
    margin-bottom: 64px;
    background-color: #F9F9FA;
    padding: 8px 16px;
    font-size: 16px;
}

.breadcrumb a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    text-underline-position: under;
}

.breadcrumb span {
    padding-left: 5px;
    padding-right: 5px;
}

/* CONTENT NAVIGATION */ 

sidebar cagov-content-navigation .label {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.2px;
    padding: 0;
    margin: 0;
    padding-bottom: 16px;
}

sidebar cagov-content-navigation ul,
sidebar cagov-content-navigation ol:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]),
sidebar cagov-content-navigation ul:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]) {
    margin: 0;
    text-indent: 0;
    padding: 0;
}

sidebar cagov-content-navigation ul li {
    padding-top: 16px;
    /* padding-bottom: 16px; */
    /* margin-bottom: 16px; */
    margin-top: 16px;
    border-top: 1px solid #EDEDEF;
    line-height: 28.2px;
}

sidebar cagov-content-navigation ul li:first-child {
    margin-top: 0px;
}

.page-container-ds main ol:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]),
.page-container-ds main ul:not([class*="menu"]):not([class*="nav"]):not([class*="footer-links"]) {
    padding: 0 0 0 0px;
    margin-top: 32px;
    margin-bottom: 32px;
    list-style-position: inside !important;
}


/* TYPOGRAPHY */
h1.page-title {
    font-weight: 700;
    font-size: 40px;
    margin: 0 0 0 0;
    padding: 0 0 24px 0;
}

h2 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 32px;
    scroll-margin: 40px;
}

h3 {
    margin-top: 72px;
    scroll-margin: 40px;
}

h4 {
    margin-top: 72px;
    scroll-margin: 40px;
}

h5 {
    margin-top: 72px;
    scroll-margin: 40px;
}

h6 {
    margin-top: 72px;
    scroll-margin: 40px;
}

p {
    font-size: 18px;
    line-height: 40px;
}

/* @TODO breakpoint, css vars */
@media only screen and (max-width: 600px) {
    .breadcrumb a.crumb,
    .breadcrumb span.crumb {
        display: none;
    }

    .breadcrumb .crumb.current {
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.8px;
        color: #064E66;
    }
    
    .breadcrumb {
        display: block;
        margin-top: 48px;
        margin-bottom: 16px;
        background-color: transparent;
        padding: 0;
    }

    #main-content {
        margin-top: 16px;
    }

    h1.page-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 37.6px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}
