<cagov-scrollable-card>
    <div class="cagov-scrollable-card">
        <div class="cagov-scrollable-card">
          <div>your content here</div>
          <div>your content here</div>
          <div>your content here</div>
          <div>your content here</div>
        </div>
      
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
      </div>
</cagov-scrollable-card>